.shoottype {
    padding-top:7px;
}
.indoorOutdoor {
    padding-top:7px;
}
.segmentedControlBase {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack:justify;
	-webkit-box-sizing: border-box;
	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-pack:justify;
	-moz-box-sizing: border-box;
}
.button.segmentedControl {
	display: block;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	border: solid 1px #9a9a99;
	border-left: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	text-align: center;
	background-image: 
		-webkit-gradient(linear, left top, left bottom, 
			from(#fbfbfb), 
			to(#bdbdbd));
	background-image: 
		-moz-linear-gradient(top, 
			#fbfbfb, 
			#bdbdbd);
	color: #6b6b6b;
	font-size: 50px;
	padding: 3px;
}
.button.segmentedControl:hover, .button.segmentedControl.hover, .button.segmentedControl.selected {
	background-image: 
		-webkit-gradient(linear, left top, left bottom, 
			from(#2a55b1), 
			to(#6297f2));
	background-image: 
		-moz-linear-gradient(top, 
			#2a55b1, 
			#6297f2);
	color: #fff;
	border-color: #193a7f;
}
.button.segmentedControl.leftEnd {
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-left: solid 1px #9a9a99;
}
.button.segmentedControl.rightEnd {
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
/* Styles for Tab states */
.TabPanels .tabPanel {
	display: none;
}
.TabPanels .tabPanel.selected {
	display: block;
}
/* End Styles for Tab states */
.finalscore {
    float:right;
    font-size:48px;
    text-align:right;
}
.gobackbutton {
    font-size:60px;
}
.info {
    font-size:40px;
    clear:both;
}
.title {
    font-size:90px;
    text-align:center;
    margin-top:20px;
    margin-bottom:20px;
}
.list {
    position:absolute;
    top:300px;
    left:105px;
}
form {
    font-size:40px;
}
input {
    font-size:24px;
    text-align:right;
}
.eachShoot {
    font-size:46px;
}
.inputPart {
    clear:both;
    margin-top:40px;
    font-size:40px;
}
.goRight {
    font-size:32px;
    float:right;
}
.leftside {
    margin-top:3px;
    float:left;
}
.radioType {
    margin-top:3px;
}
.makeNewShoot {
	-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #c2c2c2;
	display:inline-block;
	color:#c70000;
	font-family:arial;
	font-size:48px;
	font-weight:bold;
	padding:6px 8px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
    width:280px;
    margin-left:230px;
    clear:both;
    margin-top:50px;
}.makeNewShoot:active {
	position:relative;
	top:1px;
}
.scoreSelect {
	-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #c2c2c2;
	display:inline-block;
	color:#c70000;
	font-family:arial;
	font-size:40px;
	font-weight:bold;
	padding:6px 8px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
    width:52px;
    text-align:center;
    margin-top:3px;
}.scoreSelect:active {
	position:relative;
	top:1px;
}
.newshoot {
	-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #c2c2c2;
	display:inline-block;
	color:#c70000;
	font-family:arial;
	font-size:108px;
	font-weight:bold;
	padding:6px 8px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
    width:560px;
    margin-left:90px;
    position:absolute;
    top:140px;
}.newshoot:active {
	position:relative;
	top:1px;
}
.submitscores {
	-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #c2c2c2;
	display:inline-block;
	color:#c70000;
	font-family:arial;
	font-size:32px;
	font-weight:bold;
	padding:6px 8px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
    width:140px;
    float:right;
}.submitscores:active {
	position:relative;
	top:1px;
}
.button {
	-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #c2c2c2;
	display:inline-block;
	color:#c70000;
	font-family:arial;
	font-size:56px;
	font-weight:bold;
	padding:6px 8px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
    margin-bottom:20px;
}.button:active {
	position:relative;
	top:1px;
}